<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <!-- The editing page for the lab technician-->
        <title>Lab Technician Edit Page</title>
        <link rel="stylesheet" href="/css/lab_technician_edit.css"/>

        <!-- Import Bootstrap-->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    </head>

    <body>
        <div class="container-fluid p-0">
            <div class="row g-0">

                <!--Side Panel Content containing navigation links and user account buttons-->
                <div class="col-lg-3 col-md-4">

                    <div class="side-panel">
                        <h1 class="side-panel-title">ReserveALab</h1>

                        <div class="user-account-buttons">

                            <!-- Change this logic later-->
                            <a href="new-login.html" >
                                <button type="button" class="btn btn-custom"> Logout </button>
                            </a>

                            <a href="/view-slots" >
                                <button type="button" class="btn btn-custom"> View Availabile Slots </button>
                            </a>
                        </div>

                        <nav>
                            <!-- Will update links later -->
                            <ul class="nav-links">
                                <li><a href="/technician?userId={{userId}}">Technician Homepage </a></li>
                            </ul>
                        </nav>

                    </div>
                </div>

                <!-- Main Content -->

                <div class="col-lg-9 col-md-8">

                    <div class="hero-container">

                        <div class="card">

                            <h2 class="container-title">Edit a Reservation</h2>

                            <form id="edit-reservation-form" method="POST" action="/edit-reservation">
                            
                                <div class="form-group">
                                    <label for="email" class="label-email">DLSU Email</label>
                                    <input type="email" id="email" placeholder="name@dlsu.edu.ph" required>
                                    <button type="button" class="btn btn-custom1" id="btn-search">Check Reservations</button>
                                </div>

                                <!-- Reservations Display Containers-->

                                <div id="reservationsContainer" class="reservations-container">
                                    <h4>Existing Reservations</h4>
                                    <div id="reservations-list"></div>

                                    <div id="selectedReservationInfo" class="selected-reservations-info">
                                        <h5>Selected Reservation Details:</h5>
                                        <div id="selectedDetails"></div>
                                        <button type="button" class="btn btn-custom1" id="btn-remove"> Edit Reservation</button>
                                    </div>
                                </div>
                            

                            </form>

                        </div>

                    </div>
                </div>
            </div>
        </div>


        <script>

            const reservationsData = {
                'andre_chu@dlsu.edu.ph':[
                    {
                        id: 1,
                        lab: 'G301', 
                        seat: 20,
                        date: '06-26-2025',
                        time: '7:30 AM - 9:00 AM',
                        status:'upcoming'
                    }, 
                    {
                        id: 2,
                        lab: 'G302', 
                        seat: 5,
                        date: '06-23-2025',
                        time: '9:15 AM - 10:45 AM',
                        status:'upcoming'
                    }
                ], 

                'joaquin_tin@dlsu.edu.ph':[
                    {
                        id: 3,
                        lab: 'G302', 
                        seat: 7,
                        date: '06-27-2025',
                        time: '9:15 AM - 10:45 AM',
                        status:'upcoming'
                    }, 
                    {
                        id: 4,
                        lab: 'G303', 
                        seat: 2,
                        date: '06-13-2025',
                        time: '9:15 AM - 10:45 AM',
                        status:'late'
                    }
                ], 

            
            
            
            }

            let selectedReservation = null;

            document.getElementById('btn-search').addEventListener('click', function() {
                const email = document.getElementById('email').value.trim();
                const container = document.getElementById('reservationsContainer');
                const list = document.getElementById('reservations-list');

                //Alert if not a proper email
                if (!email){
                    alert('Please enter a proper email address');
                    return
                }

                list.innerHTML = '';
                selectedReservation = null;
                document.getElementById('selectedReservationInfo').style.display = 'none';

                // Check if the email currently exists in the current data
                if(reservationsData[email]){
                    const reservations = reservationsData[email];

                    // Create a div element for each reservation done by the student
                    reservations.forEach(reservation => {
                        const div_reservation = document.createElement('div');
                        div_reservation.className = 'reservation-item';
                        div_reservation.dataset.reservationId = reservation.id;

                        div_reservation.innerHTML = 
                        `
                        <div class="student-reservation-details">
                            <div class="reservation-info">
                                <h4> ${reservation.lab} - Seat ${reservation.seat}</h4>
                                <p> Date - ${reservation.date} </p>
                                <p> Time - ${reservation.time} </p>
                            </div>

                            <div class="reservation-status status-${reservation.status}">
                                ${reservation.status.toUpperCase()}
                            </div>

                        </div>
                        `;

                        div_reservation.addEventListener('click', function(){
                            selectReservation(reservation, div_reservation);
                        });

                        list.appendChild(div_reservation);

                    });

                    container.style.display = 'block';

                } else {
                    //No reservations were made by the student 
                    list.innerHTML = '<div class="no-reservations">No reservations for this account</div>';
                    container.style.display = 'block';
                }

            });


            function selectReservation(reservation, div_elem){
                document.querySelectorAll('.reservation-item').forEach(item => {
                    item.classList.remove('selected');
                })

                div_elem.classList.add('selected');
                selectedReservation = reservation;

                const div_details = document.getElementById('selectedDetails');
                div_details.innerHTML = 
                `
                <p> Lab: ${reservation.lab}</p>
                <p> Seat: ${reservation.seat}</p>                
                <p> Date: ${reservation.date}</p>                
                <p> Time: ${reservation.time}</p>                
                <p> Status: ${reservation.status.toUpperCase()}</p>                    
                
                `;

                document.getElementById('selectedReservationInfo').style.display = 'block';

            }

        

            document.getElementById('email').addEventListener('keypress', function(e){
                if(e.key === 'Enter'){
                    e.preventDefault();
                    document.getElementById('btn-search').click();
                }
            });

        </script>
        
    </body>


</html> 