<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>ReserveALab Homepage</title>

        <!-- This is the main homepage of the MCO-->
        <link rel="stylesheet" href="/css/lab_reservation_design.css"/>

        <!-- Import Bootstrap-->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    </head>

    <body>

        <div class="container-fluid p-0">
            <div class="row g-0">

                <!--Side Panel Content containing navigation links and user account buttons-->
                <div class="col-lg-3 col-md-4">

                    <div class="side-panel">
                        <h2 class="side-panel-title">ReserveALab</h2>

                        <div class="user-account-buttons">

                            <a href="/user-login">
                            <button type="button" class="btn btn-custom"> Login </button>
                            </a>

                            <a href="/user-registration">
                            <button type="button" class="btn btn-custom"> Register </button>
                            </a>

                            <a href="/view-slots" >
                                <button type="button" class="btn btn-custom"> View Availabile Slots </button>
                            </a>

                        </div>

                    </div>
                </div>

                <!-- Main Content -->
                <div class="col-lg-9 col-md-8">

                    <section class="hero-section">
                        <div class="hero-container">

                            <div class="hero-content">

                                <h1 class="hero-title">Reserve a Lab Space with Easy Access</h1>
                                <p class="hero-sub-info">
                                    Tired of missing out on spaces for study sessions and projects? 
                                    Book a computer lab seat with us in advance to guarantee a spot!
                                    Login first or register your account to reserve with us!
                                </p>

                            </div>

                        </div>
                    </section>
                </div>
            </div>
        </div>
    </body>
</html>